@page
@model IndexModel
@{
}

@section Heads{
    <style>
        .customClass > div.row > div > ol {
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            /* margin: 0; */
            padding: 0;
        }

            .customClass > div.row > div > ol > li {
                /* width: auto; */
                margin: 1%;
                padding: 1%;
                background: #c3c3c3;
            }

        .customClass > div.row > div:nth-child(1) {
            height: 160px;
            overflow: auto;
            background-color: #f0f0f0;
        }

        .customClass > div.row > div:nth-child(2) {
            /* ブレーク時この高さになる */
            min-height: 80px;
            /* background-color: red; */
            background-color: #ecedee;
            border-radius: 2px;
            border: 1px solid black;
            padding: 0;
            /* margin: 0; */
            /* display: flex; */
/*             flex-direction: column;
            align-items: center;
            justify-content: center; */
        }

            .customClass > div.row > div:nth-child(2):hover {
                background-color: #86b7fe;
            }

            /* 要改善 */
            .customClass > div.row > div:nth-child(2) > input {
/*                 position: relative; */
                opacity: 0;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
                padding: 0;
                margin: 0;
            }
    </style>
}

<div class="container customClass">
    <div class="row">
        <div class="col-lg-6">
            <ol>
                <li><span class="text-nowrap">d - 1</span></li>
                <li><span class="text-nowrap">item - 1</span></li>
                <li><span class="text-nowrap">aaaaaaaaaaaaaaaaaaaaaaaaaaaa - 1</span></li>
                <li><span class="text-nowrap">item - 1</span></li>
                <li><span class="text-nowrap">idddtem - 1</span></li>
                <li><span class="text-nowrap">item - 1</span></li>
                <li><span class="text-nowrap">ivdvdtem - 1</span></li>
                <li><span class="text-nowrap">ivvtem - 1</span></li>
                <li><span class="text-nowrap">item - 1</span></li>
                <li><span class="text-nowrap">idddtem - 1</span></li>
                <li><span class="text-nowrap">ddddddddddddd - 1</span></li>
                <li><span class="text-nowrap">idvdvdtem - 1</span></li>
                <li><span class="text-nowrap">item - 1</span></li>
                <li><span class="text-nowrap">dddddddd - 1</span></li>
                <li><span class="text-nowrap">item - 1</span></li>
                <li><span class="text-nowrap">item - 1</span></li>
                <li><span class="text-nowrap">idddtem - 1</span></li>
                <li><span class="text-nowrap">ddddddddddddd - 1</span></li>
                <li><span class="text-nowrap">idvdvdtem - 1</span></li>
                <li><span class="text-nowrap">item - 1</span></li>
                <li><span class="text-nowrap">dddddddd - 1</span></li>
                <li><span class="text-nowrap">item - 1</span></li>
            </ol>

        </div>
        <div class="col-lg-6">
        @*     <label>文言</label> *@
            <input type="file" />
        </div>
    </div>
</div>

<br />

<div class="container customClass">
    <div class="row">
        <div class="col-lg-6">
            <ol>
                <li><span class="text-nowrap">d - 1</span></li>
                <li><span class="text-nowrap">item - 1</span></li>
                <li><span class="text-nowrap">aaaaaaaaaaaaaaaaaaaaaaaaaaaa - 1</span></li>
                <li><span class="text-nowrap">item - 1</span></li>
                <li><span class="text-nowrap">idddtem - 1</span></li>
                <li><span class="text-nowrap">item - 1</span></li>
                <li><span class="text-nowrap">ivdvdtem - 1</span></li>
                <li><span class="text-nowrap">ivvtem - 1</span></li>
                <li><span class="text-nowrap">item - 1</span></li>
                <li><span class="text-nowrap">idddtem - 1</span></li>
            </ol>

        </div>
        <div class="col-lg-6">
            <label>文言</label>
            <input type="file" />
        </div>
    </div>
</div>

<br />

<div class="container customClass">
    <div class="row">
        <div class="col-lg-6">
            <ol>
                @for (int i = 0; i < 100; i++)
                {
                    <li><span class="text-nowrap">item - @i</span></li>
                }
            </ol>
        </div>
        <div class="col-lg-6">
            <label>文言</label>
            <input type="file" />
        </div>
    </div>
</div>
