<div id="@Model" style="display:none;border:solid 1px; border-color:red;">
    <h4>プラグインA</h4>
    <form>
        <input type="datetime" />
        <button type="submit">Save</button>
    </form>
</div>