<div id="@ViewData["Id"]" style="display:none;border:solid 2px; border-color:black;padding:1px;" data-my-plugin="@ViewData["DataMyPlugin"]">
    <h4>@ViewData["Title"]</h4>
    @RenderBody()
    <div>これプラグインレイアウト</div>
</div>