<div id="@Model" style="display:none;border:solid 1px; border-color:blue;">
    <h4>プラグインB</h4>
    <form>
        <input type="datetime" />
        <input type="text" />
        <button type="submit">Save</button>
    </form>
</div>