@model (string id, Dictionary<string,string> items)
<div class="dropdown" id="@Model.id">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">作成</button>
    <ul class="dropdown-menu">
        @foreach (var kv in Model.items)
        {
            <li><button class="dropdown-item" type="button" data-value="@kv.Key">@kv.Value</button></li>
        }
    </ul>
</div>