@model string
<section id="@Model">
    <button type="button" data-my-up>上</button>
    <button type="button" data-my-down>下</button>
    @* list-group必須 *@
    <div class="list-group"></div>
</section>