@page
@model WebApp.Pages.Eval1.IndexModel
@{
}
@section Styles{
    <link rel="stylesheet" href="~/css/eval1.css" asp-append-version="true" />
}

<h1>お試し</h1>

<ul id="idcontents"></ul>

<div class="pager" id="idpager"></div>
@section Scripts {

    <script src="~/js/eval1.js" asp-append-version="true"></script>
    <script type="text/javascript" charset="utf-8">
    </script>
}