@page
@model WebApp.Pages.Partial.Partial1Model
@{
    var handlerUrl = Url.Page(pageName: "/Partial/Partial1", pageHandler: "AddLabel");
    //var handlerUrl = "/nothing";
}

<h1>AjaxでPOST、Partialビューを取得・追加</h1>

<form method="post" id="IdForm">
    <div>
        <input asp-for="LabelName" />
        <span asp-validation-for="LabelName"></span>
    </div>
    <div>
        <button type="button" id="IdAddBT">追加</button>
    </div>
</form>

<section id="IdSE"></section>

<button type="button" id="IdUploadBT">アップロード</button>

@section Scripts {
    @*     @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    } *@

    <script>
        $(() => {
            console.log('doc ready.');
            $('#IdAddBT').on('click', function () {
                $form = $('#IdForm');
                clearValidationErrorsVanilla($form.get(0));
                $sec = $('#IdSE');
                var $hiddenInputs = $sec.find('input[type="hidden"][name="LabelNames"]');

                // 取得した各 input 要素の value を配列に格納
                var labels = [];

                $hiddenInputs.each(function () {
                    labels.push(this.value);
                });

                // values 配列には各 input 要素の value が含まれる
                console.log(labels);

                const postJsonData = {
                    LabelName: $('#LabelName').val(),
                    LabelNames: labels
                };
                console.log(postJsonData);
                fetchHtmlDOMPostAsync('@handlerUrl', postJsonData)
                    .then(result => {
                        if (result.status === 200) {
                            $sec.append(result.data);
                        } else if (result.status === 202) {
                            showValidationErrorsVanilla($form.get(0), result.data);
                        }
                    }).catch(error => {
                        console.log('error', error);
                        alert('通信エラー');
                    });
            });
        });
    </script>
}
