@page
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor htAcs
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Home</h1>
    <p>Home page.</p>
</div>

<h2>Cookie</h2>
@{
    foreach (var cookie in htAcs.HttpContext.Request.Cookies)
    {
        <span>@cookie.Key</span>
        <br />
        <span>@cookie.Value</span>
    }
}