@page
@model WebApp.Pages.BlockUI1.IndexModel
@{
}
@section Styles{
    <link rel="stylesheet" href="~/css/eval1.css" asp-append-version="true" />
}

<h1>Eval1 for jQuery BlockUI</h1>

@section Scripts {

    <script src="~/js/eval1.js"></script>
    <script type="text/javascript" charset="utf-8">
    </script>
}