@page
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor htAcs
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h2>Cookie</h2>
@{
    foreach (var cookie in htAcs.HttpContext.Request.Cookies)
    {
        <span>@cookie.Key</span>
        <br />
        <span>@cookie.Value</span>
    }
}