p, a, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
}

ul {
    list-style: none;
}

.list {
    line-height: 1;
    border-bottom: 1px solid #d8d8d8;
    padding: 12px 0;
}

    .list a {
        display: flex;
        align-items: center;
        text-decoration: none;
    }

    .list .date {
        color: darkblue;
        margin: 0 15px 0 auto;
    }

.pager {
    margin: 18px 0 0 0;
}
