@page
@model WebApp.Pages.Table1.IndexModel
@{
}

<h1>Home</h1>

<table id="table"
       data-click-to-select="true"
       data-pagination="true"
       data-id-field="UserID"
       @* ページ件数pageSizeとあわせる *@
       data-page-list="[5]"
       >
</table>

@section Scripts {

    <script type="text/javascript" charset="utf-8">

        var jsonObj = @Html.Raw(Json.Serialize(@Model.DepositList));

        $('#table').bootstrapTable({
            columns: [{
                field: 'RegistrationDate',
                title: '登録日'
            }, {
                field: 'UserID',
                title: 'ユーザーID'
            }, {
                field: 'Name',
                title: '氏名'
            }, {
                field: 'Gender',
                title: '性別'
            }, {
                field: 'Age',
                title: '年齢'
            }, {
                field: 'Birthday',
                title: '生年月日'
            }, {
                title: '操作', // カスタム列のタイトル
                formatter: deleteButtonFormatter // カスタム列のフォーマッター関数を指定
            }],
            pageSize: 5,
            data: jsonObj
        })

        function deleteButtonFormatter(value, row, index) {
            // 削除ボタンを含むHTMLを生成
            return '<button class="btn btn-danger" onclick="deleteRow(' + index + ')">削除</button>';
        }

        function deleteRow(index) {
            // indexに基づいて行を削除するロジックを実装
            // 例: jsonObjからデータを削除し、テーブルを更新する
            jsonObj.splice(index, 1);
            $('#table').bootstrapTable('load', jsonObj);
        }


    </script>
}