@page
@model WebApp.Pages._3rdPlugins.IndexModel
@{
}

<h2>jQueryプラグイン</h2>

<ul>
    <li>
        <a asp-page="/3rdPlugins/Select2">select2</a>
    </li>

    <li>
        <a asp-page="/3rdPlugins/NumberSpinner">bootstrap-input-spinner</a>
    </li>
</ul>